{% extends 'base.html.twig' %}

{% block title %}Vinylium{% endblock %}

{% block extra_section_up %}
    <div class="container-fluid toto d-flex flex-column justify-content-center">
        <div class="row text-center d-flex justify-content-center">
            <div class="col-6 bg-black rounded bg-opacity-75 pb-3">
                <p class="mb-2 h1 text-white">Tu souhaites renseigner tes vinyles ?</p>
                <a class="btn btn-primary" href="{{ path('artists') }}">Commencer ma collection !</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row border">
        <h2>Nos derniers vinyls ajoutés :</h2>
        {% for vinyl in last_vinyls %}
            <div class="col-4">
                <h3><a class="text-dark text-decoration-none" href="{{ path('vinyl',{id:vinyl.id}) }}">{{ vinyl.title }}</a></h3>
                <a href="{{ path('vinyl',{id:vinyl.id}) }}"><img src="{{ vinyl.photo }}" alt="" class="px-1 w-100"></a>
                <p><a class="text-dark text-decoration-none" href="{{ path('artist',{id:vinyl.artist.id}) }}">{{ vinyl.artist.name }}</a> - <a class="text-dark text-decoration-none" href="{{ path('album',{id:vinyl.album.id}) }}">{{ vinyl.album.name }}</a></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
