{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block body %}
    <h1>Mon profil</h1>

    <h2>{{ user.firstname }} {{ user.lastname }}</h2>

    <p>{{ user.email }}</p>

    <img src="{{ asset('images/uploads/user_photos/' ~ user.photo) }}" alt="">

    <div>
        <a href="{{ path('updateUser', {id:user.id}) }}" class="btn btn-primary my-2">
            Mettre à jour mon profil
        </a>
    </div>
{% endblock %}
