{% extends 'base.html.twig' %}

{% block title %}{{ artist.name }}{% endblock %}

{% block body %}
    <h2 class="h4">Ajouter un album à {{ artist.name }}</h2>
    <img src="{{ artist.photo }}" alt="{{ artist.name }}" class="mh-23 my-3">
    {{ form_start(form) }}
        <div class="input-group">
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>
        </div>
        <div class="input-group">
            <div class="my-2">
                {{form_row(form.name, {'attr':{'class' : 'form-control'}})}}
            </div>
        </div>
        <div class="input-group">
            <div class="my-2">
                {{form_row(form.photo, {'attr':{'class' : 'form-control'}})}}
            </div>
        </div>
        <div class="input-group">
            <div class="my-2 d-none">
                {{form_row(form.artist, {'attr':{'class' : 'form-control'}})}}
            </div>
        </div>
        <div class="input-group">
            <div class="my-2">
                {{form_row(form.genres)}}
            </div>
        </div>

        <button type="submit" class="btn btn-success">Enregistrer</button>

    {{ form_end(form) }}
{% endblock %}
