{% extends 'base.html.twig' %}

{% block title %}Artiste{% endblock %}

{% block body %}
    <h2 class="h4 mt-2">Ajouter un artiste</h2>

    {{ form_start(form) }}
        <div class="input-group">
            {{form_row(form.name, {'attr':{'class' : 'form-control my-2'}})}}
        </div>
        <div class="col-6 mh-23">
            {{form_row(form.description, {'attr':{'class' : 'form-control my-2 form_description'}})}}
        </div>
        <div class="input-group">
            {{form_row(form.photo, {'attr':{'class' : 'form-control my-2'}})}}
        </div>
        <div class="input-group">
            {{form_row(form.genres, {'attr':{'class' : 'my-2'}})}}
        </div>

        <button type="submit" class="btn btn-success my-2">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
