{% extends 'base.html.twig' %}

{% block title %}Genre{% endblock %}

{% block body %}

    <h2 class="h4">{{ title }}</h2>

    {{ form_start(form) }}
        <div class="input-group">
            {{form_row(form.name, {'attr':{'class' : 'form-control my-2'}})}}
        </div>
        <div class="input-group">
            {{form_row(form.description, {'attr':{'class' : 'form-control my-2'}})}}
        </div>
        <button type="submit" class="btn btn-success">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
