{% extends 'base.html.twig' %}

{% block title %}Genre{% endblock %}

{% block body %}

    <h2 class="h4">{{ title }}</h2>

    {% if genre is defined %}
        <img src="{{ genre.image }}" alt="{{ genre.name }}" class="mh-23 my-3">
    {% endif %}

    {{ form_start(form) }}
        <div class="input-group">
            {{form_row(form.name, {'attr':{'class' : 'form-control my-2 col-6'}})}}
        </div>
        <div class="input-group">
            {{form_row(form.image, {'attr':{'class' : 'form-control my-2'}})}}
        </div>
        <div class="col-6">
            {{form_row(form.description, {'attr':{'class' : 'form-control my-2 col-6 form_description'}})}}
        </div>
        <button type="submit" class="btn btn-success my-2">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
