{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    {{ form_start(form) }}

    <div class="alert alert-light">
        <h2 class="h4">Ajouter une chanson à {{ album.name }} de {{ album.artist.name }}</h2>
        <img src="{{ album.photo }}" alt="{{ album.name }}" class="mh-23 my-3">
        {% if album.tracks | length > 0 %}
            <p class="h5">Chanson{% if album.tracks | length > 1%}s{% endif %} déjà existante :</p>
        {% endif %}
        <ul>
            {% for track in album.tracks %}
                <li>{{ track.position }} - {{ track.title }}</li>
            {% endfor %}
        </ul>
        <div class="row">
            <div class="my-2">
                {{form_row(form.title)}}
            </div>
            <div class="my-2">
                {{form_row(form.position)}}
            </div>
            <div class="my-2">
                {{form_row(form.duration)}}
            </div>
            <div class="col d-none my-3">
                {{form_row(form.album)}}
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success">Enregistrer</button>


    {{ form_end(form) }}
{% endblock %}
