{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h2 class="h4">Ajouter une chanson à {{ album.name }} de {{ album.artist.name }}</h2>
    <img src="{{ album.photo }}" alt="{{ album.name }}" class="mh-23 my-3">

    <div class="alert alert-light">
        {% if album.tracks | length > 0 %}
            <p class="h5">Chanson{% if album.tracks | length > 1%}s{% endif %} déjà existante :</p>
        {% endif %}
        <ul>
            {% for track in album.tracks | sort((a, b) => a.position <=> b.position) %}
                <li>{{ track.position }} - {{ track.title }}</li>
            {% endfor %}
        </ul>
    </div>
    {{ form_start(form) }}
        <div class="input-group">
            {{form_row(form.title, {'attr':{'class' : 'form-control my-2'}})}}
        </div>
        <div class="input-group">
            {{form_row(form.position, {'attr':{'class' : 'form-control my-2'}})}}
        </div>
        <div class="input-group">
            {{form_row(form.duration, {'attr':{'class' : 'form-control my-2'}})}}
        </div>
        <div class="input-group d-none">
            {{form_row(form.album, {'attr':{'class' : 'form-control my-2'}})}}
        </div>
        <button type="submit" class="btn btn-success">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
