{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1>Ajouter une chanson</h1>

    {{ form_start(form) }}
        <div class="input-group">
            {{form_row(form.title, {'attr':{'class' : 'form-control my-2'}})}}
        </div>
        <div class="input-group">
            {{form_row(form.position, {'attr':{'class' : 'form-control my-2'}})}}
        </div>
        <div class="input-group">
            {{form_row(form.duration, {'attr':{'class' : 'form-control my-2'}})}}
        </div>
        <div class="input-group">
            {{form_row(form.album, {'attr':{'class' : 'my-2'}})}}
        </div>
        <button type="submit" class="btn btn-success">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
