{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h2 class="h4">Mettre à jour {{ artist.name }}</h2>
    <img src="{{ artist.photo }}" alt="{{ artist.name }}" class="mh-23 my-3">
    {{ form_start(form) }}
        <div class="input-group">
            {{form_row(form.name, {'attr':{'class' : 'form-control my-2'}})}}
        </div>
        <div class="input-group">
            {{form_row(form.description, {'attr':{'class' : 'form-control my-2'}})}}
        </div>
        <div class="input-group">
            {{form_row(form.photo, {'attr':{'class' : 'form-control my-2'}})}}
        </div>
        <div class="">
            {{form_row(form.genres, {'attr':{'class' : 'my-2'}})}}
        </div>
        <button type="submit" class="btn btn-success my-2">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
