{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h2 class="h4">Modifier mon profil</h2>

    {{ form_start(form) }}
        <div class="input-group my-2">
            {{form_row(form.email, {'attr':{'class' : 'form-control'}})}}
        </div>
        <div class="input-group my-2">
            {{form_row(form.firstname, {'attr':{'class' : 'form-control'}})}}
        </div>
        <div class="input-group my-2">
            {{form_row(form.lastname, {'attr':{'class' : 'form-control'}})}}
        </div>
        <div class="input-group my-2">
            <div class="my-1">
                {{form_row(form.photo, {'attr':{'class' : 'form-control'}})}}
            </div>
        </div>

        <button type="submit" class="btn btn-success">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
