{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('admin_artists') }}">Gérer les artistes</a>
        </li>

        <li>
            <a href="{{ path('admin_vinyls') }}">Gérer les vinyles</a>
        </li>

        <li>
            <a href="{{ path('admin_albums') }}">Gérer les albums</a>
        </li>

        <li>
            <a href="{{ path('admin_genres') }}">Gérer les genres</a>
        </li>

        <li>
            <a href="{{ path('admin_tracks') }}">Gérer les tracks</a>
        </li>
    </ul>
{% endblock %}
