{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1>Espace Administrateur</h1>

    <div class="mt-5">
        <a href="{{ path('admin_artists') }}" class="btn btn-primary">Gérer les artistes</a>
        <a href="{{ path('admin_vinyls') }}" class="btn btn-primary">Gérer les vinyles</a>
        <a href="{{ path('admin_albums') }}" class="btn btn-primary">Gérer les albums</a>
        <a href="{{ path('admin_genres') }}" class="btn btn-primary">Gérer les genres</a>
        <a href="{{ path('admin_tracks') }}" class="btn btn-primary">Gérer les tracks</a>
    </div>
{% endblock %}
