{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="row">
        <h1>Gestion des vinyles</h1>
        <div class="col-2 my-2">
            <a href="{{ path("add_vinyl") }}" class="btn btn-primary">Ajouter un vinyle</a>
        </div>
    </div>
    <div class="row">
        {% set i = 1 %}
        {% for vinyl in vinyls %}
            <div class="col-4">
                <h2 class="h5">{{ vinyl.artist.name }}</h2>
                <a href="{{ path('artist', {id: vinyl.artist.id}) }}">
                    <img src="{{ vinyl.artist.photo }}" alt="" class="toto object-fit-cover admin_vinyl_img">
                </a>

            </div>
            <div class="col-4">
                <h2 class="h5">Album : {{ vinyl.album.name }}</h2>
                <a href="{{ path('album', {id:vinyl.album.id}) }}" class="text-decoration-none">
                    <img src="{{ vinyl.photo }}" alt="" class="toto object-fit-cover admin_vinyl_img">
                </a>
                <h2 class="h5">Pressage : {{ vinyl.pressingNumber }}</h2>
            </div>
            <div class="col-2 d-flex flex-column justify-content-around">
                <a href="{{ path('update_vinyl', {id:vinyl.id}) }}" class="btn btn-info">Mettre à jour</a>

                <!-- Button trigger modal -->
                <button type="button"
                        class="fw-bold btn btn-danger"
                        data-bs-toggle="modal"
                        data-bs-target="#removeVinyl{{ i }}">
                    Supprimer
                </button>

                <!-- Modal -->
                <div class="modal fade"
                     id="removeVinyl{{ i }}"
                     tabindex="-1"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Attention</h5>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close">
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="h5">
                                    Souhaitez vous réellement supprimer {{ vinyl.title }} ({{ vinyl.pressingNumber}}) définitivement ?
                                </p>
                                <a href="{{ path('deleteVinyl', {id:vinyl.id}) }}" class="btn btn-danger">Oui</a>
                                <button type="button"
                                        class="btn btn-primary"
                                        data-bs-dismiss="modal"
                                        aria-label="Close">
                                    Non
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if loop.last != true %}
                <hr/>
            {% endif %}
            {% set i = i + 2 %}
        {% endfor %}
        <div class="pagination my-2">
            {{ knp_pagination_render(vinyls) }}
        </div>
    </div>
{% endblock %}
