{% extends 'base.html.twig' %}

{% block title %}{{ album.artist.name }} - {{ album.name }}{% endblock %}

{% block body %}
    <h1>{{ album.name }}</h1>

    <h2><a href="{{ path('artist', {id: album.artist.id}) }}">{{ album.artist.name }}</a></h2>

    <h2 class="h5">Genre :
        {% for genre in album.genres %}
            <a href="{{ path('genre',{id:genre.id}) }}">{{ genre.name }}</a>
            {% if loop.last != true %} / {% endif %}
        {% endfor %}
    </h2>

    <p class="col-8">{{ album.description }}</p>

    <img src="{{ album.photo }}" alt="" class="mh-23">

    {% if admin %}
        <div>
            <a href="{{ path('updateAlbum',{id:album.id}) }}" class="btn btn-primary my-2">
                Mettre à jour {{ album.name }}
            </a>
        </div>
    {% endif %}

    <ul class="list-group col-6 mb-3">
        <h2>Tracklist :</h2>
        {% if admin %}
            <div>
                <a href="{{ path('addTrackByAlbum', {id:album.id}) }}" class="btn btn-primary my-2">
                    Ajouter une chanson
                </a>
            </div>
        {% endif %}
        {% for track in album.tracks | sort((a, b) => a.position <=> b.position) %}
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <div>{{ track.title }} ({{ track.duration }} sec)</div>
                    <div>position : {{ track.position }}
                        {% if admin %}
                            <a href="{{ path('updateTrack', {id:track.id}) }}" class="btn btn-primary fs-6">
                                <i class="fas fa-pen"></i>
                            </a>

                            <!-- Button trigger modal -->
                            <button type="button"
                                    class="fw-bold btn btn-danger"
                                    data-bs-toggle="modal"
                                    data-bs-target="#removeTrackFromVinyl">
                                X
                            </button>

                            <!-- Modal -->
                            <div class="modal fade"
                                 id="removeTrackFromVinyl"
                                 tabindex="-1"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Attention</h5>
                                            <button type="button"
                                                    class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close">
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="h5">
                                                Souhaitez vous réellement supprimer {{ track.title }}
                                                de {{ track.album.artist.name}} définitivement ?
                                            </p>
                                            <a href="{{ path('deleteTrack', {id:track.id}) }}"
                                               class="fw-bold btn btn-danger">
                                                Oui
                                            </a>
                                            <button type="button"
                                                    class="btn btn-primary"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close">
                                                Non
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>


    <h2>Vinyles issus de cet album :</h2>
    {% if admin %}
        <div>
            <a href="{{ path('addVinylByAlbum', {id:album.id}) }}" class="btn btn-primary my-2">Ajouter un vinyl</a>
        </div>
    {% endif %}
    {% if album.vinyl|length > 0 %}
        <ul class="list-group col-6 mb-2">
        {% for vinyl in album.vinyl %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a class="text-dark primary-hover text-decoration-none" href="{{ path('vinyl', {id: vinyl.id}) }}">
                    {{ vinyl.title }} ({{ vinyl.releasedate | date("d/m/Y") }})
                </a>
                <div class="col-3 d-flex align-items-center justify-content-between">
                    {% if app.user %}
                        {% if vinyl not in app.user.vinyls %}
                            <a href="{{ path('addVinylToUserCollection', {id:vinyl.id, userId: app.user.id}) }}"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Ajouter à ma collection"
                               class="text-decoration-none">
                                <i class="far fa-plus-square fs-2">

                                </i>
                            </a>
                        {% else %}
                            <i class="far fa-check-circle fs-2 primary-color"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Vous possédez ce vinyle"></i>
                            <p class="m-0"></p>
                        {% endif %}
                    {% endif %}
                    {% if admin %}
                        <a href="{{ path('update_vinyl', {id:vinyl.id}) }}" class="btn btn-primary text-end">
                            <i class="fas fa-pen"></i>
                        </a>

                        <!-- Button trigger modal -->
                        <button type="button"
                                class="fw-bold btn btn-danger text-end"
                                data-bs-toggle="modal"
                                data-bs-target="#removeVinylFromCollection">
                            X
                        </button>

                        <!-- Modal -->
                        <div class="modal fade"
                             id="removeVinylFromCollection"
                             tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Attention</h5>
                                        <button type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="h5">
                                            Souhaitez vous réellement supprimer {{ vinyl.title }}
                                            ({{ vinyl.pressingNumber }}) définitivement ?
                                        </p>
                                        <a href="{{ path('deleteVinyl', {id:vinyl.id}) }}"
                                           class="fw-bold btn btn-danger text-end">
                                            Oui
                                        </a>
                                        <button type="button"
                                                class="btn btn-primary"
                                                data-bs-dismiss="modal"
                                                aria-label="Close">
                                            Non
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Cet album n'a pas encore de vinyl, nous allons vite lui en ajouter !</p>
    {% endif %}
{% endblock %}
