{% extends 'base.html.twig' %}

{% block title %}{{ artist.name }}{% endblock %}

{% block body %}
    <h1>{{ artist.name | capitalize}}</h1>
    {% if admin %}
        <div class="my-2"><a href="{{ path('updateArtist', {id:artist.id}) }}" class="btn btn-info">Mettre à jour {{ artist.name }}</a></div>
    {% endif %}
    <img src="{{ artist.photo }}" alt="" class="mh-23">
    
    <h2>Genres</h2>
    <ul class="list-group">
        {% for genre in artist.genres %}
            <li class="list-group-item"><a href="{{ path('genre', {id:genre.id}) }}">{{ genre.name }}</a></li>
        {% endfor %}
    </ul>

    <h2>Albums :</h2>
    {% if admin %}
        <div><a href="{{ path('addAlbumByArtist', {id:artist.id}) }}" class="btn btn-info mb-3">Ajouter un album</a></div>
    {% endif %}
    <ul class="list-group mb-3">
        {% for album in artist.albums %}
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <a href="{{ path('album', {id: album.id}) }}">
                        {{ album.name }}
                    </a>
                    <div>
                        {% if admin %}
                            <a href="{{ path('updateAlbum', {id:album.id}) }}" class="btn btn-primary text-end">
                                <i class="fas fa-pen"></i>
                            </a>
                            <a href="{{ path('deleteAlbum', {id:album.id}) }}" class="fw-bold btn btn-danger text-end">
                                X
                            </a>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
