{% extends 'base.html.twig' %}

{% block title %}{{ artist.name }}{% endblock %}

{% block body %}
    <h1>{{ artist.name | capitalize}}</h1>

    <img src="{{ artist.photo }}" alt="">
    
    <h2>Genres</h2>
    <ul class="list-group">
        {% for genre in artist.genres %}
            <li class="list-group-item"><a href="{{ path('genre', {id:genre.id}) }}">{{ genre.name }}</a></li>
        {% endfor %}
    </ul>

    <h2>Albums :</h2>
    <ul class="list-group">
        {% for album in artist.albums %}
            <li class="list-group-item"><a href="{{ path('album', {id: album.id}) }}">{{ album.name }} </a></li>
        {% endfor %}
    </ul>
{% endblock %}
