{% extends 'base.html.twig' %}

{% block title %}{{ genre.name }}{% endblock %}

{% block body %}
    <h1>{{ genre.name }}</h1>

    <p>{{ genre.description }}</p>

    {% if admin %}
        <div class="my-2"><a href="{{ path('updateGenre', {id:genre.id}) }}" class="btn btn-info">Mettre à jour {{ genre.name }}</a></div>
    {% endif %}

    <h2>Artistes :</h2>
    <ul class="list-group">
        {% for artist in genre.artists %}
            <li class="list-group-item">
                <a href="{{ path('artist',{id:artist.id}) }}">{{ artist.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
