{% extends 'base.html.twig' %}

{% block title %}{{ vinyl.artist.name }} - {{ vinyl.title }}{% endblock %}

{% block body %}
    <h1>{{ vinyl.title }} - {{ vinyl.pressingNumber }}</h1>

    <h2 class="h5">Genre : {% for genre in vinyl.genres %}<a href="{{ path('genre',{id:genre.id}) }}">{{ genre.name }}</a> {% if loop.last != true %} / {% endif %}{% endfor %}</h2>

    <h2><a href="{{ path('artist', {id: vinyl.artist.id}) }}">{{ vinyl.artist.name }}</a></h2>
    <h3 class="h4">Date de sortie : {{ vinyl.releaseDate | date("d/m/Y") }}</h3>
    <h3 class="h5">Album : <a href="{{ path('album', {id:vinyl.album.id}) }}">{{ vinyl.album.name }}</a></h3>

    {% if vinyl.price > 0 %}
        <p>Prix : {{ vinyl.price }} euros</p>
    {% endif %}
    <div class="mb-3">
        <a href="{{ path('update_vinyl', {id:vinyl.id}) }}" class="btn btn-primary">
            Mettre à jour ce vinyl
        </a>
    </div>

    <img src="{{ vinyl.photo }}" alt="" class="mh-23">

    {% if app.user %}
        {% if vinyl not in app.user.vinyls %}
            <div>
                <a href="{{ path('addVinylToUserCollection', {id:vinyl.id, userId: app.user.id}) }}" class="btn btn-primary my-2">Ajouter ce vinyle à ma collection</a>
            </div>
        {% else %}
            <p>Vous possédez déjà ce vinyle</p>
        {% endif %}
    {% endif %}

    <ul class="list-group my-2">
        <h2>Tracklist :</h2>
        {% if vinyl.album.tracks | length > 0 %}
            {% for track in vinyl.album.tracks %}
                <li class="list-group-item d-flex justify-content-between align-items-center"><span>{{ track.title }} ({{ track.duration }} sec)</span>  <span>position : {{ track.position }}</span></li>
            {% endfor %}
        {% else %}
            <li class="list-group-item d-flex justify-content-between align-items-center col-6">L'album dont est issu ce vinyl n'a pas de chansons</li>
        {% endif %}
    </ul>
{% endblock %}
