{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="row">
        <h1>Gérer les tracks</h1>
        <div class="col-2 my-2"><a href="{{ path("add_track") }}" class="btn btn-primary">Ajouter une track</a></div>
    </div>
    <div class="row">
        {% for track in tracks %}
            <div class="col-4">
                <h2 class="h4">{{ track.title }}</h2>
                <a href="{{ path('updateTrack', {id:track.id}) }}" class="btn btn-info">Mettre à jour</a>
                <a href="{{ path('deleteTrack', {id:track.id}) }}">Supprimer</a>
            </div>
        {% endfor %}
        <div class="pagination">
            {{ knp_pagination_render(tracks) }}
        </div>
    </div>
{% endblock %}
