{% extends 'base.html.twig' %}

{% block title %}Tous nos albums{% endblock %}

{% block body %}
    <h1>Nos Albums</h1>
    {% if admin %}
        <a class="btn btn-info mb-3" href="{{ path('add_album') }}">Ajouter un album</a>
    {% endif %}
    <div class="row">
        {% for artist in artists %}
            <div class="col-6">
                <h2><a href="{{ path('artist', {id:artist.id}) }}">{{ artist.name }}</a></h2>
                <ul>
                    {% for album in artist.albums %}
                        <li><a href="{{ path('album',{id:album.id}) }}">{{ album.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}