{% extends 'base.html.twig' %}

{% block title %}Tous nos Artistes{% endblock %}

{% block body %}
    <h1>Nos Artistes</h1>
    {% if admin %}
        <a class="btn btn-info" href="{{ path('add_artist') }}">Ajouter un artiste</a>
    {% endif %}
    <div class="row">
        {% for artist in artists %}
            <div class="col-6 card-group">
                <div class="card shadow my-3">
                    <a href="{{ path('artist', {id:artist.id}) }}">
                        <img src="{{ artist.photo }}" alt="{{ artist.name }}" class="he-25 w-100 object-fit-cover">
                    </a>
                    <div class="card-body">
                        <h2>
                            <a href="{{ path('artist', {id: artist.id}) }}"
                               class="text-dark primary-hover text-decoration-none">
                                {{ artist.name }}
                            </a>
                        </h2>
                        <p>
                            Genre{% if artist.genres | length > 1 %}s{% endif%} :
                            {% for genre in artist.genres %}
                                <a href="{{ path('genre', {id:genre.id}) }}">{{ genre.name }}</a>{% if artist.genres | length > 1 and loop.last != true %}, {% endif%}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="pagination my-2">
            {{ knp_pagination_render(artists) }}
        </div>
    </div>
{% endblock %}