{% extends 'base.html.twig' %}

{% block title %}Les genres{% endblock %}

{% block body %}
    <h1>Tous les genres</h1>
    {% if admin %}
        <a class="btn btn-info mb-3" href="{{ path('add_genre') }}">Ajouter un genre</a>
    {% endif %}
    <div class="row">
        {% for genre in genres %}
            <div class="col-6 border">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>
                        <a class="h1 text-dark text-decoration-none primary-hover"
                           href="{{ path('genre',{id: genre.id}) }}">
                            {{ genre.name | capitalize }}
                        </a>
                    </h2>
                    {% if admin %}
                        <div>
                            <a href="{{ path('updateGenre', {id:genre.id}) }}" class="btn btn-primary text-end">
                                <i class="fas fa-pen"></i>
                            </a>
                            <a href="{{ path('deleteGenre', {id:genre.id}) }}" class="fw-bold btn btn-danger text-end">
                                X
                            </a>
                        </div>
                    {% endif %}
                </div>
                <hr/>
                {% if genre.artists | length > 0 %}
                    {% set i = 0 %}
                    <p class="h3"><span class="text-decoration-underline">Artistes:</span> ({{ genre.artists |length }})</p>
                    {% for artist in genre.artists %}
                        {% if i < 4 %}
                            <h3 class="h4">
                                <a href="{{ path('artist', {id: artist.id}) }}" class="text-decoration-none">
                                    {{ artist.name }}
                                </a>
                            </h3>
                        {% endif %}
                        {% set i = i + 1 %}
                    {% endfor %}
                {% else %}
                    <p class="h3">Ce genre n'a pas encore d'artiste</p>
                {% endif %}

                {% if genre.albums | length > 0 %}
                    {% set i = 0 %}
                    <p class="h3"><span class="text-decoration-underline">Albums:</span> ({{ genre.albums |length }})</p>
                    {% for album in genre.albums %}
                        {% if i < 4 %}
                            <h3 class="h4">
                                <a href="{{ path('album', {id: album.id}) }}" class="text-decoration-none">
                                    {{ album.name }}
                                </a>
                            </h3>
                        {% endif %}
                        {% set i = i + 1 %}
                    {% endfor %}
                {% else %}
                    <p class="h3">Ce genre n'a pas encore d'artiste</p>
                {% endif %}
            </div>
        {% endfor %}
        <div class="pagination my-2">
            {{ knp_pagination_render(genres) }}
        </div>
    </div>
{% endblock %}