{% extends 'base.html.twig' %}

{% block title %}Tous nos vinyles{% endblock %}

{% block body %}
    <h1>Nos vinyles</h1>
    {% if admin %}
        <a class="btn btn-info mb-3" href="{{ path('add_vinyl') }}">Ajouter un vinyl</a>
    {% endif %}
    <div class="row">
        {% for artist in artists %}
            <h2><a href="{{ path('artist',{id:artist.id}) }}">{{ artist.name }}</a></h2>
            {% for vinyl in artist.vinyls %}
                <div class="col-6 border">
                    <h2><a href="{{ path('vinyl', {id: vinyl.id}) }}">{{ vinyl.title | capitalize }}</a></h2>
                    <p>Date de sortie : {{ vinyl.releaseDate | date("d/m/Y") }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}